<h2>{{ alimento.name }}</h2>
<div class="image">
  <img src="https://via.placeholder.com/400" alt="Product Image" />
</div>
<div class="details">
  <p>
    <strong>Description:</strong> Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Nullam consequat elit quis ex laoreet, et tristique elit
    vestibulum.
  </p>
  <p><strong>Calorias:</strong> {{alimento.calories}}kcal</p>
  <p><strong>Proteinas:</strong> {{alimento.protein_g}}g</p>
  <p><strong>Potássio:</strong> {{alimento.potassium_mg}}mg </p>
  <p><strong>Colesterol:</strong> {{alimento.cholesterol_mg}}mg/dL</p>
  <p><strong>Teor de gordura:</strong> {{alimento.fat_total_g}}%</p>
</div>
