<h2>Nome do alimento</h2>
<div class="image">
  <img src="https://via.placeholder.com/400" alt="Product Image" />
</div>
<div class="details">
  <p>
    <strong>Description:</strong> Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Nullam consequat elit quis ex laoreet, et tristique elit
    vestibulum.
  </p>
  <p><strong>Calorias:</strong> 12kcal</p>
  <p><strong>Proteinas:</strong> 23g</p>
  <p><strong>Potássio:</strong> 64mg </p>
  <p><strong>Colesterol:</strong> 24mg/dL</p>
  <p><strong>Teor de gordura:</strong> 89%</p>
</div>
